.DS_Store
.xc/
.wrangler/
/.build
/build
/release-artifacts
/Packages
xcuserdata/
DerivedData/
Derived/
!Derived/
Derived/*
!Derived/InfoPlists/
Derived/InfoPlists/*
!Derived/InfoPlists/BetterAuth-Info.plist
!Derived/InfoPlists/BetterAuthOrganization-Info.plist
!Derived/InfoPlists/BetterAuthSwiftUI-Info.plist
!Derived/InfoPlists/BetterAuthTestHelpers-Info.plist
!Derived/InfoPlists/BetterAuthSwiftTests-Info.plist
!Derived/InfoPlists/BetterAuthOrganizationTests-Info.plist
*.xcodeproj
!better-auth-swift.xcodeproj/
!better-auth-swift.xcodeproj/project.pbxproj
!better-auth-swift.xcodeproj/project.xcworkspace/
!better-auth-swift.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!better-auth-swift.xcodeproj/xcshareddata/
!better-auth-swift.xcodeproj/xcshareddata/xcschemes/
!better-auth-swift.xcodeproj/xcshareddata/xcschemes/BetterAuth.xcscheme
!better-auth-swift.xcodeproj/xcshareddata/xcschemes/BetterAuthSwiftUI.xcscheme
!better-auth-swift.xcodeproj/xcshareddata/xcschemes/BetterAuth-Package.xcscheme
.tuist/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
examples/**/node_modules/
examples/**/ios/*.xcodeproj
examples/**/ios/*.xcworkspace
examples/**/ios/.xc/
examples/**/ios/Derived/
examples/**/ios/.env
